<footer id="footer">
	<div id="drain">
		<div class="row">
			<div class="large-4 small-12 columns">
				<h3>{{ site.title }}</h3>
				<p>{{ site.description }}</p>
			</div>
			<div class="large-8 columns">
				<div class="logo-block-grid-wrap">
					<ul class="small-block-grid-2 logo-block-grid">
						<li><img src="{{ site.images-dir }}/emm.png"></li>
						<li><img src="{{ site.images-dir }}/dontstop.jpg"></li>
					</ul>

					<ul class="small-block-grid-3 logo-block-grid">
						<li><img src="http://placehold.it/250x100&text=Res+PE"></li>
						<li><img src="http://placehold.it/250x100&text=PLJNS"></li>
						<li><img src="http://placehold.it/250x100&text=Czepiel+Twins"></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="large-12 columns">
			<div class="row">
				<div class="large-6 columns">
					<p>© {{ site.time | date: '%Y' }} {{site.author}}</p>
				</div>
			</div>
		</div>
	</div>
</footer>