---
layout: default
---

<header>
  <div class="row">
    <div class="large-12 columns">
      <h1>Blog</h1>
      <h4>Annoucements, releases, and wildin' out.</h4>
    </div>
  </div>
</header>

<div class="row">
    <div class="large-12 columns" role="content">
      <article>
        <h2 class="post-title">{{ page.title }}</h2>
        <h6 class="post-date">{{ page.date | date_to_string }}</h6>
        {{ content }}
      </article>
    </div>
</div>

<div class="row">
    <div class="large-12 columns">
      <p>{% include sharing.html %}</p>
  </div>
</div>

{% include disqus.html %}

<!-- TODO: Share links -->