---
layout: default
title: Home
---

<section id="homepage-hero">

  <div class="row">
    <div class="large-6 columns">
      <h1 class="text-right">Wild<br>Jokers</h1>
    </div>
    <div class="large-6 columns centered floatingyeti">
      <img src="{{ site.images-dir }}/wildjokerhead.png" class="hide-for-small hide-for-medium centered">
    </div>
  </div>
</section>

<div class="row">
    <div class="large-12 columns">
 
    <!-- Content Slider -->
 
      <div class="row">
        <div class="large-12 columns">
          <div class="row">

            <div class="large-4 medium-6 small-12 columns">
              <h3>Recent Releases</h3><hr>
              {% for post in site.categories.release limit:3 %} 

              <div class="row">

                <div class="large-3 medium-3 small-3 columns">
                  <img src="/public/img/{{ post.album-cover }}" height="50" width="50">
                </div>
              
                <div class="large-9 medium-9 small-9 columns">
                  <h5 class="subheader"><a href="{{ post.url }}">{{ post.title }}</a></h5>
                  <h6 class="subheader">{{ post.date | date: "%-d %B %Y" }}</h6>
                </div>
              </div>
              <hr>

              {% endfor %}
            </div>

            <div class="large-4 medium-6 small-12 columns">
 
              <h3>Upcoming Shows</h3><hr>
              <div class="row">
                <div class="large-12 columns">
                  <h5>Wild Joker Radio on <a href="http://thecore.fm">The Core FM</a></h5>
                  <h6 class="subheader">January 19th, 2013</h6>
                </div>
              </div>
              <hr>

              <div class="row">
                <div class="large-12 columns">
                  <h5>Wild Joker Radio on <a href="http://thecore.fm">The Core FM</a></h5>
                  <h6 class="subheader">January 26th, 2013</h6>
                </div>
              </div>
              <hr>
              
              <div class="row">
                <div class="large-12 columns">
                  <h5>Wild Joker Radio on <a href="http://thecore.fm">The Core FM</a></h5>
                  <h6 class="subheader">Feburary 1st, 2013</h6>
                </div>
              </div>
              <hr>
            </div>

            <div class="large-4 medium-6 small-12 columns">
 
              <h3>Latest Posts</h3><hr>
              
              {% for post in site.posts limit:3 %}

              <div class="row">
                <div class="large-12 columns">
                  <h5><a href="{{post.url}}">{{post.title}}</a></h5>
                  <h6 class="subheader">{{ post.date | date: "%-d %B %Y" }} by Paul Jones</h6>
                </div>
              </div>
              <hr>


              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
    <!-- End Content -->